[submodule "inet"]
	path = inet4
	url = https://github.com/roVer-HM/inet.git
[submodule "veins"]
	path = veins
	url = https://github.com/roVer-HM/veins.git
[submodule "vadere"]
	path = vadere
	url = https://github.com/roVer-HM/vadere.git
[submodule "artery"]
	path = artery
	url = https://github.com/roVer-HM/artery.git
[submodule "flowcontrol"]
	path = flowcontrol
	url = https://github.com/roVer-HM/flowcontrol.git
[submodule "analysis/suq-controller"]
	path = analysis/suq-controller
	url = https://github.com/roVer-HM/suq-controller.git
[submodule "Simu5G"]
	path = simu5g
	url = https://github.com/roVer-HM/Simu5G.git
[submodule "analysis/crownetutils"]
	path = analysis/crownetutils
	url = https://github.com/roVer-HM/crownetutils
