log.out
VadereTestingSuite.preferences.xml
**/__cache__
**/vadere-server-output
**/.directory


# rover project

rover/out
rover/src/Makefile
rover/.settings
rover/**/libROVER*
rover/**/results
rover/**/output
rover/**/legacy
rover/**/.qtenvrc
