[submodule "inet"]
	path = inet4
	url = ../inet.git
[submodule "simulte"]
	path = simulte
	url = ../simulte.git
[submodule "veins"]
	path = veins
	url = ../veins.git
[submodule "vadere"]
	path = vadere
	url = https://gitlab.lrz.de/vadere/vadere.git
[submodule "analysis/roveranalyzer"]
	path = analysis/roveranalyzer
	url = ../roveranalyzer.git
[submodule "artery"]
	path = artery
	url = ../artery.git