[submodule "inet"]
	path = inet4
	url = ../inet.git
[submodule "veins"]
	path = veins
	url = ../veins.git
[submodule "vadere"]
	path = vadere
	url = ../vadere.git
[submodule "artery"]
	path = artery
	url = ../artery.git
[submodule "flowcontrol"]
	path = flowcontrol
	url = ../flowcontrol.git
[submodule "analysis/suq-controller"]
	path = analysis/suq-controller
	url = ../suq-controller.git
[submodule "Simu5G"]
	path = simu5g
	url = ../Simu5G.git
[submodule "analysis/crownetutils"]
	path = analysis/crownetutils
	url = ssh://git@sam-dev.cs.hm.edu:6000/rover/crownetutils.git
