<?xml version="1.0" encoding="UTF-8"?>

<!-- generated on 2023-05-19 15:24:25 by Eclipse SUMO netgenerate Version v1_9_2+0043-66864b7fc8
-->

<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/netgenerateConfiguration.xsd">

    <grid_network>
        <grid value="true"/>
        <grid.x-number value="30"/>
        <grid.y-number value="30"/>
        <grid.x-length value="5000"/>
        <grid.y-length value="5000"/>
    </grid_network>

    <output>
        <output-file value="MySUMOFile.net.xml"/>
    </output>

</configuration>
