#!/bin/bash

export CROWNET_OPP_CONT_TAG="d65e48c6"
export CROWNET_VADERE_CONT_TAG="d65e48c6"
export CROWNET_CONTROL_CONT_TAG="d65e48c6"
export CROWNET_SUMO_CONT_TAG="d65e48c6"
export CROWNET_OPP_IDE_CONT_TAG="d65e48c6"
export CROWNET_VADERE_IDE_CONT_TAG="d65e48c6"
export CROWNET_CONTROL_IDE_CONT_TAG="d65e48c6"
