#!/bin/bash

export CROWNET_OPP_CONT_TAG="6.0.1"
export CROWNET_VADERE_CONT_TAG="e3ac6411"
export CROWNET_CONTROL_CONT_TAG="496ff02c"
export CROWNET_SUMO_CONT_TAG="v1_15_0"
export CROWNET_OPP_IDE_CONT_TAG="6.0.1"
export CROWNET_VADERE_IDE_CONT_TAG="latest"
export CROWNET_CONTROL_IDE_CONT_TAG="latest"
