#!/bin/bash

export CROWNET_OPP_CONT_TAG="6.0.1"
export CROWNET_VADERE_CONT_TAG="221108-1613"
export CROWNET_CONTROL_CONT_TAG="220527-1453"
export CROWNET_SUMO_CONT_TAG="v1_15_0"
export CROWNET_OPP_IDE_CONT_TAG="6.0.1"
export CROWNET_VADERE_IDE_CONT_TAG="220714-0948"
export CROWNET_CONTROL_IDE_CONT_TAG="latest"

