#!/bin/bash

#USER_VARIABLE="abc" # uncomment this line to add user-specific variables

# Set addional mount point for container neede during execution.
# For instance for large hdd for results
#export OPP_EXTERN_DATA_MNT="/mnt/data1tb:/mnt/data1tb:rw"
#export OPP_EXTERN_DATA_MNT="/mnt/store0_sim_backup:/mnt/store0_sim_backup:rw"
export OPP_EXTERN_DATA_MNT="/mnt:/mnt:rw"











